

importFrom(codetools, makeCodeWalker, walkCode)
importFrom(methods, getClass, getClassDef, isClassDef, extends, findMethodSignatures, findMethods, getGeneric, getFunction, is, new) 
importFrom(utils, packageName, download.packages, untar) 

export(callAsList)

export(whichSubclasses, showVectorTypes, typeAndClass)


export(envName, envNames, myEnvNames)
export(isPrimitiveGeneric)

export(classSummary)

exportClass(methodTags)
export(methodTags, eligibleMethods)

export(makeImports)
export(nsImports)

export(pkgsUsing)

