

importFrom(codetools, makeCodeWalker, walkCode)
export(callAsList)

export(whichSubclasses, showVectorTypes, typeAndClass)


export(envName, envNames, myEnvNames)
export(isPrimitiveGeneric)

export(classSummary)

exportClass(methodTags)
export(methodTags, eligibleMethods)

export(nsImports)
